extends base.pug
include mixins/video

block content
    form(method="GET")
        input(placeholder="SEARCH BY TITLE",name="keyword",type="text")
        input(type="submit",value="search now")

    each video in videos
        +video(video)